*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    background-color: black;
    color: white;
}
.wrap ul {
    display: flex;
    list-style: none;
}
.wrap ul li {
    padding: 10px 50px;
    
}
.drop{
    display: none;
}
.wrap ul li:hover{
    color: red;
    
}
.wrap ul li:hover .drop {
    display: block;
    position: absolute;
    background-color: blueviolet;
   
}
.wrap ul li:hover .drop ul {
    display: block;
}